	<!-- start: Footer Menu -->
	<div id="footer-menu">
		<!-- start: Container -->
		<div class="container">
			<!-- start: Row -->
			<div class="row">
				<!-- start: Footer Menu Logo -->
				<div class="span2">
					<div id="footer-menu-logo">
						<!--<div id="logo-chart"></div>-->
						<a class="brand" href="/"><img src="/images/logo_150.png" style="margin-bottom:15px;" /></a>
					</div>
				</div>
				<!-- end: Footer Menu Logo -->
				<!-- start: Footer Menu Links-->
				<div class="span9">
					<div>
						<a name="test-device"></a>
						<form id="test-device" style="display:inline" method="get" action="http://tools.scientiamobile.com" target="_blank">
							<label for="test-device-input">Paste the User-Agent string of a device below:</label>
							<input id="test-device-input" type="text" class="rounded" name="user-agent-string" value="Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:33.0) Gecko/20100101 Firefox/33.0">
							<input type="submit" value="Test" class="btn">
						</form>
					</div>
				</div>
				<!-- end: Footer Menu Links-->
				<!-- start: Footer Menu Back To Top -->
				<div class="span1">
					<div id="footer-menu-back-to-top">
						<a href="#"></a>
					</div>
				</div>
				<!-- end: Footer Menu Back To Top -->
			</div>
			<!-- end: Row -->
		</div>
		<!-- end: Container  -->	
	</div>	
	<!-- end: Footer Menu -->
	<!-- start: Footer -->
	<div id="footer">
		<!-- start: Container -->
		<div class="container">
			<!-- start: Row -->
			<div class="row">
				<!-- start: About -->
				<div class="span3">
					<h3>Products</h3>
					<p><a href="/pricing">WURFL Device Detection</a></p>
					<p><a href="/cloud">WURFL Cloud</a></p>
					<p><a href="/license">License Inquiry</a></p>
				</div>
				<div class="span3">
					<h3>Resources</h3>
					<p><a href="/downloads">APIs</a></p>
					<p><a href="/wurflCapability">Capabilities</a></p>
					<p><a href="http://www.scientiamobile.com/forum" target="blank">Support Forum</a></p>
					<p><a href="/pr">Press Releases</a></p>
					<p><a href="/case-studies">Case Studies</a></p>
					<!-- <p><a href="/videos">Videos</a></p>  -->
				</div>
				<div class="span3">
					<h3>About</h3>
					<p><a href="/about">About Us</a></p>
 					<p><a href="/blog">Blog</a></p>
					<p><a href="/contact">Contact Us</a></p>
					<p><a href="/privacy">Privacy Policy</a></p>
				</div>
				<div class="span3">
					<h3>ScientiaMobile</h3>
					<p>1875 Campus Commons Drive<br />
					Suite 302<br />
					Reston, VA 20191</p>
					    <a href="https://twitter.com/scientiamobile" class="twitter-follow-button" data-show-count="true" data-lang="en" data-show-screen-name="false">Follow Us</a>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</div>
			</div>
			<!-- end: Row -->	
		</div>
		<!-- end: Container  -->
	</div>
	<!-- end: Footer -->
	<!-- start: Copyright -->
	<div id="copyright">
		<!-- start: Container -->
		<div class="container">
			<div class="span12">
				<p>2014 - ScientiaMobile, Inc.  All rights reserved.  WURFL&reg; is the registered trademark of ScientiaMobile, Inc.</p>
			</div>	
		</div>
		<!-- end: Container  -->
	</div>	
	<!-- end: Copyright -->