<html>
<head>
  	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <title>{{ title }} - WURFL Meme</title>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type='text/javascript' src="//wurfl.io/wurfl.js"></script>

        <!-- start: CSS -->
    <link href="http://www.scientiamobile.com/css/bootstrap/bootstrap-2.3.2.min.css" rel="stylesheet">
    <link href="http://www.scientiamobile.com/css/bootstrap/bootstrap-responsive-2.3.2.min.css" rel="stylesheet">
	<link href="http://www.scientiamobile.com/css/style.css" rel="stylesheet">
	<link href="/static/css/style.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Sans:400,700">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Serif">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Boogaloo">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Economica:700,400italic">
	<!-- end: CSS -->
</head>
<body>

	{{ header|safe }}
	
	<br>
	<div class="meme"></div>
<div class="caps">
	<h2> Your Device Capabilities </h2>
	<ul>
	<li>Resolution Height: {{device.capabilities.resolution_height}}</li>

	</ul>
</div>

	{{ footer|safe }}
	}

</body>

<script>
	var route = "/wurfl_meme/" + WURFL.form_factor + "/" + WURFL.complete_device_name;
	$.ajax({
		url: route,
		method: 'GET',
		success: function(data){
			console.log(data.data);
			$('.meme').append('<img src="//wit.wurfl.io/' + data.data.url + '">');
		},
	});
</script>

	<script src="http://www.scientiamobile.com/js/bootstrap-2.3.2.min.js"></script>
	<script src="//wurfl.io/wurfl.js"></script>
	<script defer="defer" src="/js/custom.js"></script>
</html>
